/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(rouge.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #5A7C96; }

header img {
  border: 0.15em solid #1C2133;
  border-radius: 0.4em; }

body {
  -webkit-font-smoothing: antialiased;
  color: #252B42;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
  font-color: #0A3860; }

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  font-color: #0A3860; }

h2,
h3,
h4,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  font-color: #0A3860; }

p {
  margin: 0 0 0.75em; }

a {
  color: #214F70;
  text-decoration: none;
  transition: color 0.25s linear; }
  a:active, a:focus, a:hover {
    color: #102535; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 0.15em solid #1C2133;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

pre {
  line-height: 1.4; }
  pre code {
    font-size: 0.8em;
    font-family: "Source Code Pro", monospace;
    background-color: inherit;
    padding: 0; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  background-color: #f6e7c9;
  padding: 0 0.4em; }

.article--content {
  background-color: #F2DEB3;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: justify;
  margin-bottom: 1.5em; }
  .article--content a {
    color: #256CAB;
    text-decoration: underline; }
    .article--content a:hover {
      color: #3279ab;
      text-decoration: none; }

.article--header {
  font-size: 1em;
  margin-bottom: 0.7em; }
  .article--header a {
    color: #214F70;
    text-decoration: none; }

.article--date {
  text-align: right;
  float: right;
  clear: both;
  margin-right: 0.5em; }

.article--more a {
  text-decoration: none; }
  .article--more a .article--more__read {
    font-family: "Source Sans Pro", sans-serif; }

.article--header--image {
  width: 100%;
  height: 100%; }

.article--header--image--subtext {
  font-size: 0.8em; }

.blog--wrapper {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 80em;
  flex-wrap: wrap; }

.blog--spacer {
  width: 13em; }

.blog--content {
  width: 50.5em;
  margin: 0 1em; }

.blog--nav {
  width: 13em; }

footer {
  border-top: 1px solid #1C2133;
  color: #A2E1F0;
  margin: 2em 0;
  padding-top: 1.6em; }

.footer-copyright {
  font-size: 0.7em;
  position: relative;
  margin-left: 0.8em;
  margin-top: 0.8em;
  float: left; }

.footer--contact {
  text-align: center;
  padding-top: 0.5em; }

.footer--contact--item {
  font-size: 1.1em;
  display: inline;
  padding: 0 0.8em; }

.footer--contact--item__link {
  color: #A2E1F0; }

.page-nav--num {
  color: #A2E1F0;
  float: left;
  margin-bottom: 0.6em; }

.page-nav--next {
  float: right;
  text-align: right; }

.page-nav--prev {
  float: left;
  clear: both; }

.page-nav--link {
  color: #A2E1F0; }
  .page-nav--link:active, .page-nav--link:focus, .page-nav--link:hover {
    color: #102535; }

.side-nav {
  background-color: #F2DEB3;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: 500; }

.side-nav--list {
  margin-bottom: 1em; }

.side-nav--list__item {
  margin: 0.3em 0;
  font-size: 0.9em; }

.title {
  border-bottom: 1px solid #1C2133;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.4em; }

.title--home-link {
  color: #A2E1F0; }

.title--home-link__alt {
  color: #0A3860;
  display: inline-block; }
